@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

.advantages_container {
	display: flex;
	justify-content: center;
	width: 100%;
}

.advantages {
	width: 90%;
	display: flex;
	justify-content: space-between;
}

.advantages_item {
	width: 100%;
	height: 300px;
	color: #4e4423;
	display: flex;
}

.advantages_item img {
	width: 200px;
	height: 100%;
}

.item {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-direction: column;
	width: 100%;
	height: 100%;
    	background: #8eb2ac94;
}

.advantages_item h2 {
	font-family: 'Ubuntu', sans-serif;
	font-size: 24px;
	width: 80%;
}

.advantages_item p {
	font-family: 'Ubuntu', sans-serif;
	font-size: 17px;
	width: 80%;
}
